<form action="/Login/Autentica" method="post">
    <label for="login">Login: </label>
    <input id="login" type="text" name="login" class="form-control" />

    <label for="senha">Senha: </label>
    <input id="senha" type="password" name="senha" class="form-control" />

    <input type="submit" value="Autentica" />
</form>
